<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>lovelace</h1>
    <img src="/img/lovelace.jpg" alt=""
    <p>Nació en el seno de una familia de clase trabajadora. Hija de un policía, creció en Yonkers, Nueva York, donde asistió a una escuela católica.1​ Según su autobiografía (intitulada Ordeal ("sufrimiento", en inglés), tuvo un hijo en 1969, cuando tenía 20 años, y su madre la convenció para que diera al niño en acogida hasta que estuviera preparada para cuidar de él</p>
    
</body>
</html>